trigger:
- main

jobs:
- job: BuildAngularApp
  displayName: 'Build Angular App'
  steps:
    - script: |
        echo "Running Angular build "
        # Install Node.js
        curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
        sudo apt-get install -y nodejs

        # Install Angular CLI and build
        npm install -g @angular/cli
        mkdir -pm 777 /home/josh.grenitz/project
        cd /home/josh.grenitz/project   # Adjust to your code path
        npm install
        ng build --prod --output-path="dist"
- deployment: DeployAngularToVM
  displayName: 'Deploy Angular App to TestDEV VM'
  environment: 'TestDEV'
  dependsOn: 'BuildAngularApp'
  strategy:
    runOnce:
      deploy:
        steps:
          - task: AzureFileCopy@6
            inputs:
              SourcePath: '/home/josh.grenitz/project/dist/'
              azureSubscription: 'Lohith-Visual Studio Professional Subscription(a40b77d3-7a31-4b18-9e78-563134d67d97)'
              Destination: 'AzureVMs'
              storage: 'grenitztestblobstorage'
              ContainerName: 'deployment-files'
              resourceGroup: 'GRENITZTESTRG'
              MachineNames: 'GrenitzTest-Linux'
              vmsAdminUserName: 'grenitz-user'
              vmsAdminPassword: 'Gr3nitzT3stPass!'
              TargetPath: '/opt/'
              CleanTargetBeforeCopy: true
              skipCACheck: false